@use 'src/styles/_mixins.scss';

#work {
  align-items: flex-start;

  .work-container {
    width: 100%;
    padding-top: var(--space-8);

    @include mixins.small-device {
      padding-top: var(--space-7);
    }

    .content {
      width: var(--content-width);
      margin: 0px auto;
    }
  }
}
