html,
body,
#__next {
  font-family: Barlow, Segoe UI, Roboto, -apple-system, Oxygen, Ubuntu, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-main);
  color: var(--text-secondary);
  scroll-behavior: smooth;
}
