@use 'src/styles/_mixins.scss';

html:has(dialog[open]) {
  overflow: hidden;
}

section {
  --content-width: min(100%, 970px);

  display: flex;
  justify-content: center;
  min-height: 100vh;

  & > div {
    width: var(--content-width);
    padding-top: var(--space-5);
    padding-bottom: var(--space-5);
  }
}

p {
  font-size: clamp(0.9rem, 1.03vw, 1.05rem);
  line-height: clamp(1.35rem, 1.7vw, 1.65rem);
  margin-bottom: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.02rem;

  &.overline {
    max-width: 42ch;
    margin-bottom: var(--space-6);
  }
}

h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  line-height: clamp(2.1rem, 6.1vw, 4.3rem);
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--text-primary);
  letter-spacing: 0.02rem;

  span {
    display: block;
  }
}

h2 {
  display: block;
  font-size: clamp(1.2rem, 1.3vw, 1.4rem);
  line-height: clamp(1.2rem, 1.3vw, 1.4rem);
  font-weight: 600;
  color: var(--text-primary);
  text-transform: uppercase;
  margin-bottom: var(--space-3);
  letter-spacing: 1px;
  letter-spacing: 0.02rem;
}
