@use 'src/styles/_mixins.scss';
@use 'src/styles/_functions.scss';

nav {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  backdrop-filter: saturate(100%) blur(5px);
  background-color: functions.reduce-transparency(var(--background-main), 90%);
  z-index: var(--navigation);

  .container.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    & > h3 {
      display: block;
      font-size: clamp(1.3rem, 1.4vw, 1.4rem);
      line-height: clamp(1.9rem, 2.1vw, 2.1rem);
      font-weight: 600;
      text-transform: uppercase;
      color: var(--text-primary);
      letter-spacing: 0.02rem;
    }

    & > .navigation-links {
      display: flex;
      flex-direction: row;
      height: 100%;

      @include mixins.small-device {
        display: none;
      }
    }
  }
}
