@use 'src/styles/_functions.scss';

.experience-dialog {
  display: none;

  &[open] {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--modal);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  & > .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: functions.reduce-transparency(var(--black), 100%, 50%);
    backdrop-filter: saturate(100%) blur(2px);
  }

  & > .content {
    --radius: 12px;

    display: block;
    background-color: var(--background-sheet);
    width: 100dvw;
    height: 93dvh;
    z-index: calc(var(--modal) + 1);
    border-radius: var(--radius) var(--radius) 0px 0px;
    overflow: auto;
    position: relative; // This is needed for the fixed position of the title.
  }
}
